{% extends 'base.html.twig' %}

{% block title %}Nowy post{% endblock %}

{% block body %}
    <h1 class="page-heading">Dodaj post</h1>

    <div class="bg-white border rounded shadow-sm p-3">
        {{ include('post/_form.html.twig', {'button_label': 'Zapisz'}) }}
    </div>

    <a class="btn btn-outline-secondary mt-3" href="{{ path('app_post_index') }}">Powrót do listy</a>
{% endblock %}
