<h1>Dodaj post</h1>

<form method="post" action="/users/create">
    <p>
        Tytuł:<br>
        <input type="text" name="subject">
    </p>

    <p>
        Treść:<br>
        <textarea name="content"></textarea>
    </p>

    <button type="submit">Zapisz</button>
</form>

<a href="/users">Powrót</a>